[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
configparser = "*"
scikit-learn = "*"
tensorflow = "*"
matplotlib = "*"
seaborn = "*"
# tensorflow-macos = "*"
# tensorflow-metal = "*"
pygame = "*"

[dev-packages]

[requires]
python_version = "3.10"
